@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bg: #C5C5C5;
$primaryclr: #4153FA;
$secondaryclr: #F141FA;

$fontmn: 'Ubuntu Mono',
monospace;
$fontbld: 'Ubuntu Mono',
bold;
$font2: 'Roboto',
sans-serif;

.footer {
    width: 90.2%;
    padding: 5%;
    margin-top: 4%;
    height: 250px;
}

.footer--styles {
    background-color: $primaryclr;
}

.social-icons-container {
    padding: 5%;
}

.social-icons {
    text-align: center;
}

.social-icon {
    padding: 2%;
}

.social-icon--styles {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(209, 201, 201, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.20);
}

.fab {
    color: $secondaryclr;   
}

.end-container {
    margin-top: 5%;
}

.end {
    text-align: center;
    font-family: $font2;
    font-weight: 600;
    color: lighten($color: $secondaryclr, $amount: 10)
}